@page
@model LoginModel

@{
    ViewData["Title"] = "تسجيل الدخول";
    Layout = "_LayoutAuth";
}

<div class="kt-login__logo">
    <img src="~/files/Default/LOGO_f_small.png" width="35%">
</div>
<div class="kt-login__signin">
    <div class="kt-login__head">
        <h3 class="kt-login__title"> تسجيل الدخول للنظام | Nard</h3>
    </div>
    <form class="kt-form" id="account" method="post">
        <div asp-validation-summary="All" class="text-danger"> </div>
        <div class="input-group">
            <input class="form-control" placeholder="اسم المستخدم" asp-for="Input.Email" autocomplete="off">
        </div>
        <span asp-validation-for="Input.Email" class="text-danger"> </span>
        <div class="input-group">
            <input class="form-control" placeholder="كلمة المرور" asp-for="Input.Password">
        </div>
        <span asp-validation-for="Input.Password" class="text-danger"> </span>
        <div class="row kt-login__extra">
            <div class="col">
                <label class="kt-checkbox">
                    <input type="checkbox" asp-for="Input.RememberMe"> تذكرني
                    <span> </span>
                </label>
            </div>
        </div>
        <div class="kt-login__actions">
            <button id="kt_login_signin_submit1" type="submit" class="btn btn-brand btn-elevate kt-login__btn-primary"> تسجيل الدخول</button>
        </div>
    </form>
</div>