@model TayarDelivery.Entity.Domins.Home.HomeInfo
@{
    ViewData["Title"] = "بيانات الرئيسية";
}

@section Css{
    <style>
        .fa, .fab {
            color: blue !important
        }
    </style>
}
<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-infographic"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                تعديل بيانات الرئيسية
            </h3>
        </div>
    </div>
    @if (TempData["EditStatus"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" style="background-color: #68dc39;border: none;margin-bottom: 0px!important;" role="alert">
            <button type="button" data-dismiss="alert" aria-label="Close" style="background-color:#68dc39;border:none;cursor:pointer;margin-bottom:-5px!important">
                <i class="fa fa-times" style="color: #000000; font-size: 25px;background-color:#68dc39"> </i>
            </button>
            <strong style="font-size:15px;padding-right:20px">@TempData["EditStatus"]</strong>

        </div>
    }
    <div class="kt-portlet__body">
        <form asp-action="Index" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="BackgroundImage" />
            <div class="alert alert-info rounded shadow" role="alert">
                المحتوى الرئيسي في الأعلى
            </div>
            <div class="row">
                <div class="col-12 col-md-7">
                    <div class="form-group">
                        <label class="text-primary control-label">العنوان الرئيسي</label>
                        <input asp-for="MainTitle" class="rounded form-control">
                        <span asp-validation-for="MainTitle" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-2">
                    <div class="form-group">
                        <label class="text-primary control-label">لون العنوان الرئيسي</label>
                        <input asp-for="MainTitleColor" type="color" class="rounded form-control">
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <label class="text-primary control-label">الصورة الرئيسية للموقع</label>
                        <input type="file" name="BackgroundImage" class="rounded form-control">
                    </div>
                </div>
                <div class="col-6 col-md-6">
                    <div class="form-group">
                        <label class="text-primary control-label">العنوان الفرعي</label>
                        <textarea rows="2" asp-for="SubTitle" class="rounded form-control"></textarea>
                        <span asp-validation-for="SubTitle" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-2">
                    <div class="form-group">
                        <label class="text-primary control-label">لون العنوان الفرعي</label>
                        <input asp-for="SubTitleColor" type="color" class="rounded form-control">
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div class="form-group">
                        <label class="text-primary control-label">عرض الصورة</label>
                        <input asp-for="BackgroundImageWidth" class="rounded form-control">
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <div class="form-group">
                        <label class="text-primary control-label">ارتفاع الصورة</label>
                        <input asp-for="BackgroundImageHeight" class="rounded form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="form-group">
                        <label class="text-primary control-label">الوصف</label>
                        <textarea rows="1" asp-for="Description" class="rounded form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="حفظ" class="rounded btn btn-primary" />
                <a href="/Admin/Dashboard/Index" class="rounded btn btn-default waves-effect" data-dismiss="modal">الغاء</a>
            </div>

        </form>

        <div class="row">
            <div class="col-md-10">
                <div class="alert alert-info rounded shadow" role="alert">
                    خدمات الشركة
                </div>
            </div>
            <div class="col-md text-center">
                <a href="~/Admin/Services/Create" title="اضافة خدمة جديدة" style="padding: 1rem 2rem;" class="PopUp btn btn-warning btn-elevate btn-icon-sm">
                    <i class="la la-plus"></i>
                    اضافة خدمة
                </a>
            </div>
        </div>
        <!--begin: Datatable -->
        <table class="table table-striped table-bordered table-hover table-checkable" id="dataTableId" style="text-align:center">
            <thead>
                <tr>
                    <th>#</th>
                    <th>العنوان</th>
                    <th>الوصف</th>
                    <th>الايقونة</th>
                    <th>تاريخ الانشاء</th>
                    <th width="10%">العمليات</th>
                </tr>
            </thead>
        </table>

    </div>
</div>

@section Scripts {
    <script>

        var dataSourceAjaxServer = function () {
            var initTable1 = function () {
                var table = $('#dataTableId');
                // begin first table
                table.DataTable({
                    language: {
                        emptyTable: "لا يوجد بيانات لعرضها", info: "عرض _START_ الى _END_ من _TOTAL_ صف", infoEmpty: "لا يوجد نتائج", infoFiltered: "(filtered1 من _MAX_ اجمالي صفوف)", lengthMenu: "_MENU_", search: "بحث", zeroRecords: "لا يوجد نتائج لعرضها"
                    },
                    responsive: true,
                    searchDelay: 500,
                    processing: true,
                    serverSide: true,
                    sPaginationType: "full_numbers",
                    bDestroy: true,
                    bSort: false,
                    bLengthChange: true,
                    dom:
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-4'i><'col-sm-4 text-center'l><'col-sm-4'p>>",
                    ajax: {
                        type: "POST",
                        contentType: "application/json",
                        url: '/Admin/Services/AjaxData',
                        data: function (d) {
                            //d.SearchKey = ($("[name=SearchKey]").val());
                            return JSON.stringify(d);
                        }
                    },
                    columns: [
                        { data: 'Id' },
                        { data: 'Name' },
                        { data: 'Description' },
                        {
                            "render": function (data, type, row) {
                                if (!row["IconName"]) {
                                    return "<b>لا يوجد صورة</b>";
                                }
                                return "<i class='" + row["IconName"] + " fa-3x'></i>";
                            }
                        },
                        { data: 'createAt' },
                        { data: 'Actions', responsivePriority: -1 },
                    ],
                    columnDefs: [
                        {
                            targets: -1,
                            orderable: false,
                            render: function (data, type, row, meta) {
                                return ''
                                    + '<span class="dropdown">'
                                    + '<a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true">'
                                    + '<i class="la la-ellipsis-h"></i></a>'
                                    + '<div class="dropdown-menu dropdown-menu-right">'
                                    + '<a class="Confirm dropdown-item text-danger" tname="#dataTableId" href="/Admin/Services/Delete/' + row["Id"] + '"><i class="la la-trash text-danger"></i> حذف الخدمة</a>'
                                    + '</div></span>'
                                    + '<a href="/Admin/Services/Edit/' + row["Id"] + '" title="تعديل الخدمة" class="PopUp btn btn-sm btn-clean btn-icon btn-icon-md"><i class="la la-edit"></i></a>';
                            },
                        }
                    ],
                });
            };

            return {
                init: function () {
                    initTable1();
                },
            };
        }();
        jQuery(document).ready(function () {
            dataSourceAjaxServer.init();
        });


    </script>
}