@model TayarDelivery.Models.ViewModel.OrderContentVM

@{
    ViewData["Title"] = "تعديل النوع";
    Layout = null;
}

<form asp-action="Edit" method="post" class="ajaxForm" tname="#dataTableId">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="Title" asp-for="Title" class="form-control-label"></label>
                <input asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="Description" asp-for="Description" class="form-control-label"></label>
                <input asp-for="Description" class="form-control">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>

    <button type="button" class="rounded btn btn-secondary" data-dismiss="modal">اغلاق</button>
    <button type="submit" class="rounded btn btn-primary">ارسال</button>
</form>
<script>
    PageLoadActions();
</script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
