@model TayarDelivery.Models.ViewModel.Users.TraderVM

@{
    ViewData["Title"] = "اضافة تاجر";
    Layout = null;
}
<style>
    .checkbox {
        -webkit-transform: scale(1.5, 1.5)
    }
</style>
<form asp-action="Create" method="post" class="ajaxForm" tname="#dataTableId">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FullName" class="form-control-label"></label>
                <input asp-for="FullName" class="form-control">
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="UserName" class="form-control-label"></label>
                <input autocomplete="false" asp-for="UserName" class="form-control">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="form-control-label">كلمة المرور</label>
                <input autocomplete="new-password" type="password" name="Password"  class="form-control">
                <small>كلمة المرور الافتراضية : <b class="text-primary">Admin123$</b></small>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="CanDiscount" asp-for="IsActive" class="form-control-label"></label>
                <div class="checkbox-list pt-2">
                    <input class="checkbox" asp-for="IsActive" type="checkbox">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Email" class="form-control-label"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="MobileNumber1" class="form-control-label"></label>
                <input asp-for="MobileNumber1" class="form-control">
                <span asp-validation-for="MobileNumber1" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="MobileNumber2" class="form-control-label"></label>
                <input asp-for="MobileNumber2" class="form-control">
                <span asp-validation-for="MobileNumber2" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label asp-for="Address" class="form-control-label"></label>
                <input asp-for="Address" class="form-control">
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="AreaId" class="form-control-label"></label>
                <select asp-for="AreaId" asp-items="ViewBag.AreaList" data-size="6" data-live-search="true" class="rounded selectpicker" data-width="100%">
                    <option value="">اختر المنطقة</option>
                </select>
                <span asp-validation-for="AreaId" class="text-danger"></span>
            </div>
        </div>
    </div>


    <button type="button" class="rounded btn btn-secondary" data-dismiss="modal">اغلاق</button>
    <button type="submit" class="rounded btn btn-primary">ارسال</button>
</form>
<script>
    $('.selectpicker').selectpicker();
    PageLoadActions();
</script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
