@{
    ViewData["Title"] = "المستخدمين";
}


<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__body">
        <br />
        <br />
        <div class="alert alert-info rounded shadow" role="alert">
            اهلا بك @User.Identity.Name
        </div>
    </div>
</div>