@model string
@{
    ViewData["Title"] = "اضافة طلب";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <div class="card rounded shadow">
            <div class="card-body">
                <p>@Model</p>
            </div>
        </div>
    </div>
</div>
<br />
<button type="button" class="rounded btn btn-secondary" data-dismiss="modal">اغلاق</button>

