@model TayarDelivery.Entity.Domins.LookUp.CompanyInformation
@{
    ViewData["Title"] = "معلومات الشركة";
}

@section Css{
    <style>
        .fa, .fab {
            color: blue !important
        }

        /*.control-label {
            color:#535353 !important
        }*/
    </style>
}
<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-infographic"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                معلومات عامة عن الشركة
            </h3>
        </div>
    </div>
    @if (ViewBag.EditStatus != null)
    {
        <div class="alert alert-success alert-dismissible fade show" style="background-color: #68dc39;border: none;margin-bottom: 0px!important;" role="alert">
            <button type="button" data-dismiss="alert" aria-label="Close" style="background-color:#68dc39;border:none;cursor:pointer;margin-bottom:-5px!important">
                <i class="fa fa-times" style="color: #000000; font-size: 25px;background-color:#68dc39"> </i>
            </button>
            <strong style="font-size:15px;padding-right:20px">@ViewBag.EditStatus</strong>

        </div>
    }
    <div class="kt-portlet__body">
        <form asp-action="Index" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label">اسم الشركة</label>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-info"></i></span>
                        </div>
                        <input class="form-control" asp-for="CompanyName" autocomplete="on">
                    </div>
                </div>
                <div class="col-md-9">
                    <label class="control-label">عنوان الشركة</label>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                        </div>
                        <input class="form-control" asp-for="Address" autocomplete="on">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label">رقم المشتغل المرخص</label>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-server"></i></span>
                        </div>
                        <input class="form-control" asp-for="LicensedNumber" autocomplete="on">
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="control-label">رقم الهاتف</label>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-phone"></i></span>
                        </div>
                        <input class="form-control" asp-for="PhoneNumber" autocomplete="on">
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="control-label">رقم الموبايل</label>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-mobile"></i></span>
                        </div>
                        <input class="form-control" asp-for="MobileNumber" autocomplete="on">
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="control-label">رقم الوتساب</label>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-whatsapp"></i></span>
                        </div>
                        <input class="form-control" asp-for="WhatsUpNumber" autocomplete="on">
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="control-label">رقم الدعم الفني</label>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-phone"></i></span>
                        </div>
                        <input class="form-control" asp-for="SupportNumber" autocomplete="on">
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="control-label">ايميل الدعم الفني</label>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        </div>
                        <input class="form-control" asp-for="SupportEmail" autocomplete="on">
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="control-label">رابط فيسبوك</label>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-facebook"></i></span>
                        </div>
                        <input class="form-control" asp-for="facebookLink" autocomplete="on">
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="control-label">رابط انسقرام</label>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-instagram"></i></span>
                        </div>
                        <input class="form-control" asp-for="instgramLink" autocomplete="on">
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="control-label">رابط تويتر</label>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-twitter"></i></span>
                        </div>
                        <input class="form-control" asp-for="twitterLink" autocomplete="on">
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="control-label">رابط تطبيق Google Play</label>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fab fa-google-play"></i></span>
                        </div>
                        <input class="form-control" asp-for="googlePlayAppLink" autocomplete="on">
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="control-label">رابط تطبيق App Store</label>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fab fa-app-store"></i></span>
                        </div>
                        <input class="form-control" asp-for="appStoreAppLink" autocomplete="on">
                    </div>
                </div>

                <div class="col-md-3">
                    <label class="control-label">خط العرض</label>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-map"></i></span>
                        </div>
                        <input class="form-control" asp-for="CompanyLatitude" autocomplete="on">
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="control-label">خط الطول</label>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-map"></i></span>
                        </div>
                        <input class="form-control" asp-for="CompanyLongitude" autocomplete="on">
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary">حفظ</button>
                <a href="/" class="btn btn-default waves-effect">رجوع</a>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <script>

    </script>
}